* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    /* alinhamento na horizontal */
    align-items: center;
    /* alinhamento na vertical */
    padding: 50px 0px;
    /* 50px para cima e para baixo, 0px para laterais */
}

main.lista-posts {
    flex-direction: column;
}

.logo {
    width: 200px;
    margin-bottom: 20px;
}

.secao-cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    margin-left: 5px;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 1px solid #ccc;
    padding: 40px 45px;
    margin: 10px;
    background-color: #fff;
}

.login form input {
    width: 100%;
    height: 40px;
    margin: 4px 0;
    padding: 0 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    background-color: #fafafa;
}

.login form button {
    background-color: #b2dffc;
    color: #fff;
    padding: 5px 10px;
    margin-top: 20px;
    width: 100%;
    border: none;
    font-weight: 800;
    cursor: pointer;
    border-radius: 5px;
}

.cta-cadastro {
    background-color: #fafafa;
    width: 100%;
    border: 1px solid #ccc;
    text-align: center;
    margin-top: 30px;
}

header {
    text-align: center;
    width: 100%;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    padding: 10px;
}

header .logo {
    width: 150px;
}

article {
    width: 600px;
    max-width: 100%;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    padding: 25px;
    margin-bottom: 20px;
}

article .img-principal {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 500px;
}

article .post-header {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

article .comentarios {
    border-bottom: 1px solid #ccc;
}

article .post-header button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

article .post-header .usuario {
    display: flex;
    align-items: center;
}

article .post-header .usuario img {
    width: 50px;
    margin-right: 15px;
}

article .comentarios .legenda {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: center;
}

article .legenda button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

article .comentar {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

article .comentar .input-comentar {
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 90%;
    background-color: white;
    padding: 0 15px;
}

article .comentar .input-comentar:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

article .comentar button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #239ff1;
    font-weight: 700;
    font-size: 15px;
}

li {
    list-style: none;
    margin: -10px 0;
    padding: 0;
}

ol {
    margin: 0;
    padding: 0;
}